/* MÓVILES: <576px */
@media (width < 576px) {
  main {
    /* grid-template-rows NO SE PUEDE USAR */
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  main > div:nth-child(1) {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    display: grid;
    justify-content: end;
    align-content: end;
    /* O tambiém: place-content: end; */
  }

  main > div:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: 2 / -2;
  }

  main > div:nth-child(3) {
    grid-row: 4 / 7;
    grid-column: 1 / span 2;
  }

  main > div:nth-child(4) {
    grid-row: 5 / 5;
    grid-column: 2 / 3;
  }

  main > div:nth-child(5) {
    grid-row: 5 / 6;
  }

  main > div:nth-child(6) {
    grid-row: 6 / 7;
  }

  main > div:nth-child(7) {
    display: none;
  }
}

/* TABLETS: 576-960px */
@media (576px <= width < 960px) {
  main {
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "uno    uno    dos   tres"
      "cuatro cinco  .     tres"
      "seis   seis   siete siete";
    gap: 5px;
  }

  main > div:nth-child(1) {
    grid-area: uno;
    align-self: start;
  }

  main > div:nth-child(2) {
    grid-area: dos;
  }

  main > div:nth-child(3) {
    grid-area: tres;
  }

  main > div:nth-child(4) {
    grid-area: cuatro;
    align-self: end;
  }

  main > div:nth-child(5) {
    grid-area: cinco;
  }

  main > div:nth-child(6) {
    grid-area: seis;
  }

  main > div:nth-child(7) {
    grid-area: siete;
  }
}

/* ESCRITORIO: >960px */
@media (width >= 960px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  main > div:nth-child(1) {
  }

  main > div:nth-child(2) {
  }

  main > div:nth-child(3) {
  }

  main > div:nth-child(4) {
    display: none;
  }

  main > div:nth-child(5) {
    display: none;
  }

  main > div:nth-child(6) {
    display: none;
  }

  main > div:nth-child(7) {
    order: -1;
  }
}
