.contenedor-ejercicio:nth-child(1) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(2) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(3) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(4) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(5) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(6) {
  /* display: none; */
}

/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
.ej1 {
  flex-direction: column-reverse;
  align-items: flex-end;
}

.ej1 :nth-child(1) {
}

.ej1 :nth-child(2) {
}

.ej1 :nth-child(3) {
  flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
.ej2 {
  justify-content: space-around;
}

.ej2 :nth-child(1) {
  align-self: center;
}

.ej2 :nth-child(2) {
  align-self: flex-start;
}

.ej2 :nth-child(3) {
  align-self: flex-end;
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
.ej3 {
  align-items: flex-start;
}

.ej3 :nth-child(1) {
  order: 1;
}

.ej3 :nth-child(2) {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
}

.ej3 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
.ej4 {
  flex-wrap: wrap;
}

.ej4 :nth-child(1) {
  align-self: flex-start;
}

.ej4 :nth-child(2) {
  align-self: center;
}

.ej4 :nth-child(3) {
  align-self: flex-end;
}

.ej4 :nth-child(4) {
}

.ej4 :nth-child(5) {
  flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
.ej5 {
}

/* 
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  
  es equivalente a:
  flex: 1;
*/

.ej5 :nth-child(1) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.ej5 :nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.ej5 :nth-child(3) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
.ej6 {
  flex-wrap: wrap;
  align-content: flex-start;
}

.ej6 :nth-child(1) {
  flex-grow: 1;
}

.ej6 :nth-child(2) {
  flex-grow: 1;
}

.ej6 :nth-child(3) {
  flex-grow: 1;
}
