.contenedor-ejercicio:nth-child(1) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(2) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(3) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(4) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(5) {
  /* display: none; */
}

.contenedor-ejercicio:nth-child(6) {
  /* display: none; */
}

/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
/* Disponemos los elementos en columna inversa (de abajo hacia arriba), y los alineamos al final (derecha) */
.ej1 {
  flex-direction: column-reverse;
  align-items: flex-end;
}

.ej1 :nth-child(1) {
  order: 1;
}

.ej1 :nth-child(2) {
  flex-grow: 1;
}

.ej1 :nth-child(3) {
}

.ej1 :nth-child(4) {
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
/* Centramos con justify-content y distribuimos el espacio con space-evenly */
.ej2 {
  justify-content: space-evenly;
  align-items: center;
}

.ej2 :nth-child(1) {
}

.ej2 :nth-child(2) {
  align-self: flex-start;
  flex-shrink: 0;
}

.ej2 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
/* Envolvemos los elementos y distribuimos el espacio verticalmente con space-between */
.ej3 {
  flex-wrap: wrap;
  align-content: space-between;
}

.ej3 :nth-child(1) {
  flex-grow: 1;
}

.ej3 :nth-child(2) {
}

.ej3 :nth-child(3) {
  flex-grow: 1;
}

.ej3 :nth-child(4) {
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
/* Invertimos la dirección y alineamos al inicio (abajo en este caso) */
.ej4 {
  flex-direction: row-reverse;
}

.ej4 :nth-child(1) {
}

.ej4 :nth-child(2) {
  align-self: flex-start;
}

.ej4 :nth-child(3) {
  align-self: flex-end;
  flex-shrink: 0;
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
/* Envolvemos y centramos el contenido, y distribuimos con space-around */
.ej5 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.ej5 :nth-child(1) {
}

.ej5 :nth-child(2) {
  flex-basis: 100%;
}

.ej5 :nth-child(3) {
}

.ej5 :nth-child(4) {
}

.ej5 :nth-child(5) {
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
/* Invertimos la dirección en columna y centramos con justify-content */
.ej6 {
  flex-direction: column-reverse;
}

.ej6 :nth-child(1) {
}

.ej6 :nth-child(2) {
  flex-grow: 1;
}

.ej6 :nth-child(3) {
}
