* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header,
.footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}

p {
  line-height: 150%;
}

@media screen and (min-width: 700px) {
  #container {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}