/* To Do List */
.todo-list {
  width: 700px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: white;
}

/* Individual Todo */
.todo {
  display: grid;
  grid-template-columns: auto auto 1fr;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

/* Priority icon dot */
.icon {
  margin: 0 10px;
}

/* Info of the todo, title and date */
.todo-info {
  margin: 10px;
}

/* Title */
.todo-title {
  font-size: 24pt;
}

/* Date */
.todo-date {
  font-size: 12pt;
}

/* Checkboxes */
.checkbox-right {
  margin: 35px 35px 0 0;
}

p {
  line-height: 150%;
}

.check {
  justify-self: end;
}
