.container {
  max-width: 900px;
  margin: 0 auto;
}

.container-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas: "a c" "b c";
}

#container-interior {
  display: flex;
  flex-direction: column;
}

.divtexto {
  background-color: coral;
  padding-right: 50px;
  grid-area: a;
}

.div1 {
  padding: 50px;
  background-color: pink;
  /* grid-row: 1/3; */
  /* grid-column: 2/3; */
  align-self: start;
  grid-area: c;
}

.div2 {
  padding: 5px;
  background-color: aqua;
  grid-area: b;
  justify-self: flex-start;
  align-self: flex-start;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: "Consolas", "Lucida Console", "Courier New", Courier, monospace;
}

p {
  line-height: 150%;
}
