.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.main-content {
  justify-content: space-between;
  display: flex;
  column-gap: 40px;
}

.sidebar {
  flex-basis: 25%;
  height: 300px;
}

.sub-content-wrapper {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.sub-content {
  height: 140px;
}

.sub-content-2 {
  height: 140px;
}
